@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  scroll-behavior: smooth;
}
p{
  overflow-wrap: anywhere !important;
}
@layer components {
    .img-inside-picture {
      @apply min-h-full min-w-full object-cover ;
    }
    .picture-box{
      @apply w-full h-full flex justify-center items-center
    }
  }